<p>Nombre del empleado: {{nombre}}</p>
<p>Apellido del empleado: {{apellido}}</p>
<p>Edad del empleado: {{edad<18 ? "Menor de edad":"Mayor de edad"}}</p> 
<p>Empresa del empleado: {{barraBusq.value}}</p> 

Introduce la empresa: <input type="text" #barraBusq (keyup)="0" [disabled]="habilitarBusq"> <!-- Indentifico la barra con # -->

<br/>
<br/>
{{textoDeRegistro}}
<br/>
<br/>
<br/>


Registrado: <input type="radio" value="SI" name="uRegistro"id = "registro" [checked]="usuRegistrado" (click)="setUsuarioRegistrado($event)" >
No registrado: <input type="radio" name="uRegistro" value="NO" (click)="setUsuarioRegistrado($event)" >
{{getRegistoUsuario()   }}